*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}



:root {

    --borderRadius: 20px;

    /*center text*/
    --flex-props: flex column center center;

    /*** Primary Colors ***/

    --Nutmeg: hsl(14, 45%, 36%);
    --DarkRaspberry: hsl(332, 51%, 32%);

    /* Neutral Colors */

    --White: hsl(0, 0%, 100%);
    --RoseWhite: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --LightGrey: hsl(30, 18%, 87%);
    --WengeBrown: hsl(30, 10%, 34%);
    --DarkCharcoal: hsl(24, 5%, 18%);

  }

  @font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf');

    font-family:'Young Serif' ;
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf');
  }



body{
    background-color: var(--Eggshell);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



#container{
    background-color: var(--White);
    border-radius: var(--borderRadius);
    border-radius: 20px;
    width: 50%;
    margin:30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
      
}

header{
  padding: 40px 40px 0 40px;
 
}

#image-omelette{
    height: auto;
    max-width: 100%;
    border-radius: var(--borderRadius);
    object-fit: cover;
}

main{
  padding: 0 40px 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Description section */


#description{
    font-family: "Outfit", sans-serif;
    color: var(--WengeBrown);
    margin: 15px 0;
    width: 100%;
    gap: 50px;

}

#description h1{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-size: 50px;
    color: var(--DarkCharcoal);
    margin-bottom: 15px;
    
    
}

/* Preparation section */


#prepContainer{

    background-color: var(--RoseWhite);
    min-height: 22vh;
    width: 100%;
    border-radius: var(--borderRadius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 20px;
    line-height: 2;
    font-family: "Outfit", sans-serif;
    color: var(--WengeBrown);
    
    
}


h1.prepTime{
    color: var(--DarkRaspberry);
    font-size: 18px;
    font-weight: 600;    
    
      
}

#prepContainer ul {
    list-style-position: inside;
 }

 #prepContainer ::marker{
    color: var(--DarkRaspberry);
    
 }


/* Ingredients section */

.ingredients{
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    color: var(--WengeBrown);
    width: 100%;
    line-height: 2;
    padding-left: 20px;
    border-bottom: solid 1.5px var(--LightGrey);

}


.headlineText{
    color:var(--Nutmeg);
    font-size: 25px;
    font-family: "Young Serif", serif;
    font-weight: 200;
    width: 100%;
    margin: 20px 0;
    
 }



.ingredients ul {
    margin-bottom: 20px;
}

.ingredients li {
    padding-left: 20px;
}

.ingredients ::marker{
    color: var(--Nutmeg);
    font-size: 12px;
    
 }



 /* Instructions section */

 .instructions{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: var(--WengeBrown);
    width: 100%;
    border-bottom: solid 1.5px var(--LightGrey);
    padding: 10px 0px 30px 20px;
    padding-left: 20px;


 }


 .instructions ol li{
    margin-bottom: 15PX;
    padding-left: 20px;
        
 }


 .instructions ::marker{
    font-weight: 700;
    color:var(--Nutmeg);   

 }




/***Nutrition section***/

.nutrition{
    display: flex;
    justify-content: var(--flex-props);
    flex-direction: column;
    font-family: "Outfit", sans-serif;
    color: var(--WengeBrown);
    gap: 20px;
    width: 100%;



}

.row{
    border-bottom: solid 1px var(--LightGrey);
    display: flex;
    width: 100%;
    min-height: 5vh;
    gap: 10px;

}

.column{
    display: flex;
    align-items: center;    
    flex: 1;

}

.column2{
    color: var(--Nutmeg);
}

.nutrition .row:last-of-type{
    border: none;
}

/***Media querys***/

@media only screen and (max-width: 767px) {
   

    header{
        width: 100%;
        padding: 0;    
        
    }
    
    #container{
        width: 100%;
        margin:0;
        border-radius:0px;    
        
    }

        #description h1{
        font-size: 35px;
    }


    #image-omelette{

      border-radius: 0;

    }

    #prepContainer{
        min-height: 20vh;
    }

  }
